{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'style/global.css' %}?{% now 'U' %}">

    <link rel='stylesheet' type='text/css' media='screen'
        href="{% static 'style/style_login_cadastro.css' %}?{% now 'U' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="left">
            <h1>SOTECH</h1>
            <p>Soluções Tecnológicas</p>
        </div>

        <div class="right">
            <form method="post">
                {% csrf_token %}

                <div class="input-group">
                    <label>Nome</label>
                    {% render_field form.first_name placeholder="Nome" %}
                </div>

                <div class="input-group">
                    <label>Sobrenome</label>
                    {% render_field form.last_name placeholder="Sobrenome" %}
                </div>

                <div class="input-group">
                    <label>CPF</label>
                    {% render_field form.cpf maxlength="14" placeholder="CPF" oninput="digitar_cpf(this)" %}
                </div>

                <div class="input-group">
                    <label>Telefone</label>
                    {% render_field form.telefone placeholder="Telefone" oninput="digitar_telefone(this)" %}
                </div>

                <div class="input-group">
                    <label>Cargo</label>
                    {% render_field form.cargo placeholder="Cargo" %}
                </div>

                <div class="input-group">
                    <label>Turno</label>
                    {% render_field form.turno placeholder="Turno" %}
                </div>

                <div class="input-group">
                    <label>Usuário</label>
                    {% render_field form.username placeholder="Username" %}
                </div>

                <div class="input-group">
                    <label>Senha</label>
                    <input type="password" name="password1" placeholder="Senha" required>
                </div>

                <div class="input-group">
                    <label>Confirmar senha</label>
                    <input type="password" name="password2" placeholder="Confirmar senha" required>
                </div>

                <button type="submit" class="btn-save">Salvar Cadastro</button>

                <div class="voltar">
                    <a href="{% url 'login' %}">Voltar</a>
                </div>
            </form>
            <script src="{% static 'js/js_login_cadastro.js' %}"></script>
</body>

</html>