{% extends 'base.html' %}
{% load static %}

{% block titulo %}Funcionários{% endblock %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'style/style_funcionarios.css' %}?{% now 'U' %}">
{% endblock %}

{% block selecao %}funcionarios{% endblock %}

{% block conteudo %}
<main class="main-content">
    <header class="main-header">
        <h1>Equipe de Funcionários</h1>

    </header>

    <div class="table-card">
        <table class="funcionarios-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Turno</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.pk }}</td>
                    <td>{{ funcionario.first_name }} {{ funcionario.last_name }}</td>
                    <td>{{ funcionario.cargo }}</td>
                    <td>{{ funcionario.turno }}</td>
                    <td>{{ funcionario.cpf }}</td>
                    <td>
                        <button class="btn-edit"><i class="fas fa-edit"></i></button>
                        <a href="{% url 'funcionario_remover' funcionario.pk %}"><button class="btn-delete"><i
                                    class="fas fa-trash"></i></button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</div>

{% endblock %}