{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Relatório
{% endblock %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'style/style_relatorio.css' %}?{% now 'U' %}" />
{% endblock %}

{% block selecao %}
  relatorio
{% endblock %}

{% block conteudo %}
  <main class="main-content">
    <header class="main-header">
      <h1>Relatórios Gerais</h1>
    </header>
    <div class="filter-card">
      <label>De:</label>
      <input type="date" id="data_inicio" />
      <label>Até:</label>
      <input type="date" id="data_fim" />
      <button class="btn-filter" id="btn-filtrar"><i class="fas fa-filter"></i> Filtrar</button>
    </div>

    <h2 class="section-title">Financeiro</h2>
    <div class="cards">
      <div class="card" style="border-top-color: var(--secondary);">
        <h3>Receita Bruta</h3>
        <p id="receita-bruta">R$ 5.200,00</p>
      </div>
      <div class="card" style="border-top-color: var(--success);">
        <h3>Ticket Médio</h3>
        <p id="ticket">R$ 43,33</p>
      </div>
      <div class="card">
        <h3>Total de Pedidos</h3>
        <p id="total-pedidos">120</p>
      </div>
    </div>
    <div class="table-card">
      <table class="sigl-table">
        <thead>
          <tr>
            <th>Meio de Pagamento</th>
            <th>Total Movimentado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dinheiro</td>
            <td id="dinheiro-pagar">R$ 1.000,00</td>
          </tr>
          <tr>
            <td>PIX</td>
            <td id="pix-pagar">R$ 2.500,00</td>
          </tr>
          <tr>
            <td>Cartão de Crédito/Débito</td>
            <td id="credito-pagar">R$ 1.700,00</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="section-title">Vendas e Operação</h2>
    <div class="cards">
      <div class="card">
        <h3>Itens Vendidos</h3>
        <p id="itens-vendidos">187</p>
      </div>
      <div class="card">
        <h3>Horário de Pico</h3>
        <p id="horario-de-pico">19h às 21h</p>
      </div>
    </div>
    <div class="table-card">
      <table class="sigl-table">
        <thead>
          <tr>
            <th>Produto Mais Vendido</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody id="lista">
          <tr>
            <td>X-Burguer Especial</td>
            <td>80</td>
          </tr>
          <tr>
            <td>Refrigerante Lata</td>
            <td>65</td>
          </tr>
          <tr>
            <td>Batata Frita G</td>
            <td>42</td>
          </tr>
        </tbody>

      </table>
    </div>

    <h2 class="section-title">Estoque</h2>
    <div class="cards">
      <div class="card">
        <h3>Itens em Estoque</h3>
        <p id="itens-estoque">3.000 un.</p>
      </div>
      <div class="card">
        <h3>Alertas de Ruptura</h3>
        <p id="alerta-ruptura" style="color: var(--danger);">5 Itens</p>
      </div>
    </div>

    <h2 class="section-title">Fidelidade de Clientes</h2>
    <div class="cards">
      <!-- <div class="card">
        <h3>Novos Clientes (Mês)</h3>
        <p>24</p>
      </div> -->
      <div class="card">
        <h3>Clientes Ativos</h3>
        <p id="cliente-ativos">158</p>
      </div>
    </div>
    <div class="table-card">
      <table class="sigl-table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Total de Pedidos</th>
            <th>Total Gasto (R$)</th>
          </tr>
        </thead>
        <tbody id="cliente-lista">
          <tr>
            <td>Marcos Oliveira</td>
            <td>15</td>
            <td>R$ 645,00</td>
          </tr>
          <tr>
            <td>Maria Pereira</td>
            <td>10</td>
            <td>R$ 420,50</td>
          </tr>
          <tr>
            <td>João Silva</td>
            <td>8</td>
            <td>R$ 310,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <script src="{% static 'js/js_relatorio.js' %}?{% now 'U' %}"></script>
{% endblock %}
